//Variables de bootstrap
$Primary: $myPrimary;
$Secondary: $mySecondary;
$Dark: $myDark;
$Cuerpo: $myCuerpo;

$navbar-dark-color: rgb(236, 236, 247) ;
$carousel-control-width: 10%;


@import "../bootstrap/bootstrap.scss";